.filters {
    color: white;
    display: flex;
    justify-content: right;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
   
    

}
.filters button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #fff;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-right: 30px;
    opacity: 90%;
}